@value makerShadow from '../../common/colors.css';
@value makerBlack from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerColorful from '../../common/colors.css';
@value makerWheat from '../../common/colors.css';

.card {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em 0;
  background-color: aliceblue;
  box-shadow: 6px 6px 8px 0px makerShadow;
  max-width: 30rem;
}

.card.dark {
  background-color: makerBlack;
  color: makerWhite;
}

.card.light {
  background-color: makerWhite;
  color: makerBlack;
}

.card.colorful {
  /* linear gradient color 는 background로 작성 */
  background: makerColorful;
  color: makerBlack;
}

.avatar {
  width: 10em;
  height: 103m;
  padding: 1em;
  margin-left: 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.info {
  width: 100%;
}

.name,
.company,
.title,
.email,
.message {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.2em;
}

.name {
  font-size: 1.2rem;
}

.company {
  margin-bottom: 1em;
}

.company::after {
  content: '';
  display: block;
  width: 90%;
  height: 2px;
  background-color: makerWheat;
  /* 구분선까지 margin이 1em이니까 이의 반만큼 내려서 */
  transform: translateY(0.5em);
}
